{{extend './_layouts/adminBase.html'}}

{{block 'title'}}{{'AdminTopic/Circle'}}{{/block}}

{{block 'middle'}}
<div class="col-md-10 my-border">
    <!--头部-->
    <div class="mt-4">
        <h3>
            <strong>用户</strong>
            <button type="button" class="btn btn-primary ml-5" data-toggle="modal" data-target="#myModal">新增用户</button>
        </h3>
        <hr />
    </div>
    <!--内容-->
    <div class="topic">
        <div class="my-nav2">
            <ul>
                <li><a href=""><strong>用户名</strong></a></li>
                <li><a href=""><strong>密码</strong></a></li>
                <li><a href=""><strong>邮箱</strong></a></li>
                <li><a href=""><strong>最后的圈</strong></a></li>
            </ul>
        </div>
        {{each data}}
        <div class="my-nav2">
            <ul>
                <li><a href="/admin/circle"><strong>{{ $value.nickname }}</strong></a></li>
                <li><a href="/admin/circle"><strong>{{ $value.email }}</strong></a></li>
                <li><a href="/admin/circle"><strong>{{ $value.passwd }}</strong></a></li>
                <li><a href="/admin/circle"><strong>{{ $value.circle }}</strong></a></li>
                <a href="/admin/user/delete?nickname={{$value.nickname}}"><i class="fa fa-trash pull-right mt-2" aria-hidden="true"></i></a>
            </ul>
        </div>

        {{/each}}
    </div>
</div>
<!-- 模态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">制造话题</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">用户名:</label>
                    <input type="text" class="form-control" id="newName">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">密码:</label>
                    <input type="text" class="form-control" id="newPasswd">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">邮箱:</label>
                    <input type="text" class="form-control" id="newEmail">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">最后的圈:</label>
                    <input type="text" class="form-control" id="newCircle">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="sub">提交</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


{{/block}}

{{block 'script'}}
<script src="/public/js/adminUser.js"></script>
{{/block}}