{{extend './_layouts/adminBase.html'}}

{{block 'title'}}{{'Content/Circle'}}{{/block}}

{{block 'middle'}}
<div class="col-md-10 my-border">
    <!--头部-->
    <div class="mt-4">
        <h3>
            <strong>内容</strong>
            <button type="button" class="btn btn-primary ml-5" data-toggle="modal" data-target="#myModal">参与内容</button>
        </h3>
        <hr />
    </div>
    <!--内容-->
    {{each data}}
    <div class="content mt-5 mb-5">
        <div class="row">
            <div class="col-md-1">
                <img src="/public/img/authlogo.jpg" class="rounded-circle img-mini">
            </div>
            <div class="col-md-10">
                <div class="my-name">
                    &nbsp;&nbsp;&nbsp;
                    <span><strong>{{ $value.nickname }}</strong></span>
                </div>
                <div class="my-content">
                    &nbsp;&nbsp;&nbsp;
                    <span>{{ $value.content }}</span>
                </div>
            </div>
            <div class="col-md-1">
                <a href="/admin/topic/content/delete?contentId={{ $value.contentId }}"><i
                        class="fa fa-trash pull-right mt-2" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<!-- 模态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">参与内容</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">内容:</label>
                    <textarea class="form-control" id="content"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="sub">提交</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


{{/block}}

{{block 'script'}}
<script src="/public/js/adminContent.js"></script>
{{/block}}