{{extend './_layouts/base.html'}}

{{block 'title'}}{{'Find/Circle'}}{{/block}}

{{block 'middle'}}
<div class="col-md-7 my-border">
    <!--头部-->
    <div class="mt-4">
        <h3><strong>搜寻</strong></h3>
        <hr />
    </div>
    <!--内容-->
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="search_input mb-4 center">
        <input type="text" id="i-advanced-search" placeholder="输入想找关于什么类型的圈">
    </div>
    <br>
    <br>
    <br>
    <div class="center">
        <a href="#" class="button button-glow button-border button-rounded button-primary three">小区</a>
        <a href="#" class="button button-glow button-border button-rounded button-primary three">学校</a>
        <a href="#" class="button button-glow button-border button-rounded button-primary three">其他</a>
    </div>
</div>


{{/block}}

{{block 'script'}}
<!-- <script src="/public/js/home.js"></script> -->

{{/block}}