{{extend './_layouts/base.html'}}

{{block 'title'}}{{'Set/Circle'}}{{/block}}

{{block 'middle'}}
<div class="col-md-7 my-border">
    <!--头部-->
    <div class="mt-4">
        <h3><strong>设置</strong></h3>
        <hr />
    </div>
    <!--内容-->
    <div>
        <br>
        <br>
        <br>
        <br>
        <a href="#" class="button button-glow button-border button-rounded button-primary center">新建一个圈</a>
        <br>
        <br>
        <br>
        <a href="#" class="button button-glow button-border button-rounded button-primary center">申请成为管理员</a>
        <br>
        <br>
        <br>
        <div class="center">
            <a href="#" class="button button-glow button-border button-rounded button-primary">切换账号</a>
            <a href="/auth/out" id="out" class="button button-glow button-border button-rounded button-primary">退出登录</a>
        </div>
    </div>

</div>
{{/block}}

{{block 'script'}}
<script src="/public/js/set.js"></script>
{{/block}}