<div class="col-md-2">
    <div class="list-group" id="sidebar">
        <a href="#" class="list-group-item">
            <h5><strong>超级管理员</strong></h5>
        </a>        
        <a href="#" class="list-group-item">
            <img src="/public/img/authlogo.jpg" class="rounded-circle img-logo">
        </a>
        <a href="/admin/user" class="list-group-item">
            <h3><i class="fa fa-creative-commons" aria-hidden="true"></i>&nbsp;&nbsp;<strong>用户</strong></h3>
        </a>
        <a href="/admin/circle" class="list-group-item">
            <h3><i class="fa fa-creative-commons" aria-hidden="true"></i>&nbsp;&nbsp;<strong>圈</strong></h3>
        </a>
        <a href="/admin/topic" class="list-group-item">
            <h3><i class="fa fa-commenting-o" aria-hidden="true"></i>&nbsp;&nbsp;<strong>话题</strong></h3>
        </a>
        <a href="/auth/out" class="list-group-item">
            <h3><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;<strong>退出</strong></h3>
        </a>
    </div>
</div>