<div class="col-md-2">
    <div class="list-group" id="sidebar">
        <a href="#" class="list-group-item">
            <img src="/public/img/authlogo.jpg" class="rounded-circle img-logo">
        </a>
        <a href="/topic" class="list-group-item">
            <h3><i class="fa fa-commenting-o" aria-hidden="true"></i>&nbsp;&nbsp;<strong>话题</strong></h3>
        </a>
        <a href="/notice" class="list-group-item">
            <h3><i class="fa fa-bell-o" aria-hidden="true"></i>&nbsp;&nbsp;<strong>通知</strong></h3>
        </a>
        <a href="/message" class="list-group-item">
            <h3><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;<strong>消息</strong></h3>
        </a>
        <a href="/shop" class="list-group-item">
            <h3><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;<strong>商家</strong></h3>
        </a>
        <a href="/team" class="list-group-item">
            <h3><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;<strong>团体</strong></h3>
        </a>
        <a href="/find" class="list-group-item">
            <h3><i class="fa fa-hashtag" aria-hidden="true"></i>&nbsp;&nbsp;<strong>搜寻</strong></h3>
        </a>
        <a href="/set" class="list-group-item">
            <h3><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;<strong>设置</strong></h3>
        </a>
    </div>
</div>